{% include "header.html" %}

<nav class="navbar navbar-dark bg-dark fixed-top justify-content-md-center">
{% include "40dex-header.html" %} {# Visible #}
<nav class="navbar navbar-dark">
{% include "40dex-header.html" %} {# Placeholder for alignment #}

{# Searchbar #}
<br>
<div class="input-group mb-3" style="width: min(50vw, 500px); margin-left: auto; margin-right: 10vw;">
   <div class="input-group-prepend">
    <span class="input-group-text">🔍</span>
  </div>
  <input type="text" class="form-control" placeholder="Search" oninput="rows_filter(this.value);">
</div>

{# Pokemon sprites #}
<table style="margin-left: auto; margin-right: auto; text-align: center; transform: translateY(10px);">
{# Region selector #}
{% for row in data %}
  {% set vars = {'done': False} %}
  {% set size=width_from_row(row) %}
  <tr class="{{ class_from_row(row) }}">
    <td  style="--size: {{size}};">
  {% for poke, values in row.items() %}
    {% set dex = get_dex(poke) %}

    {% set off1 = -105*loop.index0 %}
    {% set off2 = off1-105 %}
  
    {% set off3 = off2+160 %}
    {% set off4 = -20 %}

    {% set off5 = off3+80 %}

    {% set border_color="red" %}
    {% if values[0] %} {# 40dex #}
      {% if vars.update({'done': True}) %}{% endif %}
      {% set border_color="green" %}
    {% endif %}

    {% set image_path="images/sprites/original/{}.png".format(dex|string) %}
    {% if values[1] %} {# Trade counter #}
      {% set image_path="images/sprites/edited/{}.png".format(dex|string) %}
    {% endif %}
      <div style="position: relative;" class="d-inline-block">
        <img loading="lazy" src="{{url_for('static', filename=image_path)}}" class="img-fluid float-left" style="width: var(--size); height: var(--size); border-radius: calc(0.3*var(--size)); border: 3px solid {{ border_color }};">
        <div style="font-weight: bold; font-size: calc(0.2*var(--size)); text-shadow: 0 0 2px #000; position: absolute; top: 2%; right: 10%; font-family: sans-serif;"> {{values[0]}} </div>
      </div>                       
  {% endfor %} {# Pokes #}

      <b class="align-middle" style="display: inline-block; font-size: calc(0.6*var(--size));"> &nbsp {{ "✅" if vars.done else "❌" }}</b>
    </td>
  </tr>
{% endfor %} {# Families #}
</table>

{% include "footer.html" %}
