{% include "header.html" %}

<nav class="navbar navbar-dark bg-dark fixed-top justify-content-md-center">
{% include "40dex-header.html" %} {# Visible #}
<nav class="navbar navbar-dark">
{% include "40dex-header.html" %} {# Placeholder for alignment #}

{# Pokemon sprites #}
<table style="margin-left: auto; margin-right: auto; text-align: center; transform: translateY(10px);">
{# Region selector #}
{% for row in data %}
  {% set vars = {'done': False} %}
  <tr>
    <td>
  {% for poke, values in row.items() %}
    {% set dex = get_dex(poke) %}

    {% set off1 = -105*loop.index0 %}
    {% set off2 = off1-105 %}
  
    {% set off3 = off2+160 %}
    {% set off4 = -20 %}

    {% set off5 = off3+80 %}

    {% set border_color="red" %}
    {% if values[0] %} {# 40dex #}
      {% if vars.update({'done': True}) %}{% endif %}
      {% set border_color="green" %}
    {% endif %}

    {% set image_path="sprites/pokemon/{}.png".format(dex|string) %}
    {% if values[1] %} {# Trade counter #}
      {% set image_path="sprites/pokemon/edited/{}.png".format(dex|string) %}
    {% endif %}

      <div style="position: relative;" class="d-inline-block">
        <img src="{{url_for("static", filename=image_path)}}" class="img-fluid float-left" style="border-radius: 25px; border: 3px solid {{border_color}};">
        <div style="font-weight: bold; font-size: 20px; text-shadow: 0 0 2px #000; position: absolute; top: 2%; right: 10%; font-family: sans-serif;"> {{values[0]}} </div>
      </div>                       
  {% endfor %} {# Pokes #}

      <h1 style="display: inline-block; transform: translateY(11px);"><b> &nbsp {{ "✅" if vars.done else "❌" }}</b></h1>
    </td>
  </tr>
{% endfor %} {# Families #}
</table>

{% include "footer.html" %}
